@font-face {
  font-family: "ArialRounded";
  src: url(../font/arlrdbd.ttf); }
.text-blue {
  color: #2C50B4 !important; }

.lead-text {
  color: #FFCC53; }

/*remove bootstrap default svg background */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #fff; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #37424A;
  border-radius: 20px; }

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: #37424A; }

.navbar-light .navbar-toggler {
  background: none; }

/* hamburger classes and animation */
.navbar-toggler {
  cursor: pointer;
  position: relative;
  width: 2.5rem;
  height: 2rem;
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1rem;
  border-radius: .25rem; }
  .navbar-toggler:focus {
    border: none; }
  .navbar-toggler span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #55595c;
    border-radius: 3px;
    opacity: 1;
    left: 25%;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
    .navbar-toggler span:nth-child(1) {
      top: 34.5%; }
    .navbar-toggler span:nth-child(2), .navbar-toggler span:nth-child(3) {
      top: 50%; }
    .navbar-toggler span:nth-child(4) {
      top: 65.5%; }
  .navbar-toggler.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  .navbar-toggler.open span:nth-child(2) {
    transform: rotate(45deg); }
  .navbar-toggler.open span:nth-child(3) {
    transform: rotate(-45deg); }
  .navbar-toggler.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }

/* hamburger classes and animation */
.btn {
  border-radius: 8px;
  font-family: ArialRounded, serif;
  letter-spacing: 0; }

button:focus {
  outline: none !important; }

.btn:hover {
  opacity: 0.8;
  transition: ease-in-out 1s; }

.btn-primary {
  display: inline-block;
  padding: 6px 15px;
  color: #fff !important;
  font-size: 1rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .btn-primary:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFCC53;
    z-index: -2; }
  .btn-primary:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ffb507;
    transition: all .3s;
    z-index: -1; }
  .btn-primary:hover {
    color: #fff; }
    .btn-primary:hover:before {
      width: 100%; }

.btn-primary {
  color: #fff;
  background-color: #FFCC53;
  border-color: #FFCC53; }

.btn-primary:hover {
  color: #fff;
  background-color: #FFCC53;
  border-color: #FFCC53; }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #FFCC53;
  border-color: #FFCC53; }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #FFCC53;
  border-color: #FFCC53; }

.btn-secondary {
  display: inline-block;
  padding: 6px 15px;
  color: #37424A;
  font-size: 1rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .btn-secondary:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: F1F1F1;
    z-index: -2; }
  .btn-secondary:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #cbcbcb;
    transition: all .3s;
    z-index: -1; }
  .btn-secondary:hover {
    color: #37424A; }
    .btn-secondary:hover:before {
      width: 100%; }

.btn-secondary {
  color: #37424A;
  background-color: #F1F1F1;
  border-color: #F1F1F1; }

.btn-secondary:hover {
  color: #37424A;
  background-color: #F1F1F1;
  border-color: #F1F1F1; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #37424A;
  background-color: #F1F1F1;
  border-color: #F1F1F1; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #37424A;
  background-color: #F1F1F1;
  border-color: #F1F1F1; }

.form-group .form-control {
  border-radius: 8px;
  color: #000000; }

.trips-owl.owl-carousel .owl-dots, .padding-spacing.owl-carousel .owl-dots {
  display: none; }
.trips-owl.owl-carousel .owl-nav button, .padding-spacing.owl-carousel .owl-nav button {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  background: #fff;
  padding: 0 !important;
  height: 50px;
  width: 50px;
  line-height: 0;
  border-radius: 100%;
  box-shadow: 0 3px 6px #00000029;
  opacity: 1; }
  .trips-owl.owl-carousel .owl-nav button span, .padding-spacing.owl-carousel .owl-nav button span {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 13px;
    display: inline-block;
    margin-right: 2px; }
.trips-owl.owl-carousel .owl-nav .owl-prev, .padding-spacing.owl-carousel .owl-nav .owl-prev {
  left: 0; }
.trips-owl.owl-carousel .owl-nav .owl-next, .padding-spacing.owl-carousel .owl-nav .owl-next {
  right: -50px; }

.trips-owl.mini-img.owl-carousel .trip-highlight-card .card-head img {
  padding-right: 0; }
.trips-owl.mini-img.owl-carousel .owl-nav button {
  top: 32%; }

.trips-owl.large-img.owl-carousel .owl-nav button {
  top: 40%; }

.trips-owl.large-img.with-three.owl-carousel .owl-nav button {
  top: 33%; }

.country-owl.owl-carousel .owl-nav button {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 !important;
  height: 50px;
  width: 50px;
  line-height: 0;
  border-radius: 100%;
  box-shadow: 0 3px 6px #00000029;
  opacity: 1; }
  .country-owl.owl-carousel .owl-nav button span {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 13px;
    display: inline-block;
    margin-right: 2px; }
.country-owl.owl-carousel .owl-nav .owl-prev {
  left: 30px; }
.country-owl.owl-carousel .owl-nav .owl-next {
  right: -20px; }

.bottom-nav {
  background-color: #559EA6;
  padding: 10px 0; }
  .bottom-nav .container {
    max-width: 1400px; }
  .bottom-nav ul {
    margin-left: 170px;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    padding: 0;
    margin-bottom: 0; }
    .bottom-nav ul::-webkit-scrollbar {
      display: none; }
    .bottom-nav ul li {
      list-style: none;
      margin-right: 30px; }
      .bottom-nav ul li a {
        font-size: 16px;
        font-weight: 600;
        font-family: ArialRounded, serif;
        letter-spacing: 0;
        color: #fff; }
        .bottom-nav ul li a:active {
          color: #FFCC53; }
        .bottom-nav ul li a:hover {
          color: #FFCC53;
          text-decoration: none; }
        .bottom-nav ul li a.active {
          color: #FFCC53; }

.breadcrumb {
  background: #fff; }
  .breadcrumb .breadcrumb-item {
    font-weight: 600;
    color: #001881;
    font-size: 24px;
    font-family: ArialRounded, serif; }
    .breadcrumb .breadcrumb-item a {
      letter-spacing: 0px;
      color: #777777; }

.images-grid a {
  margin-bottom: 15px; }

.play-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%; }
  .play-icon img {
    width: 90px; }

.video-gallery .video-left-widget a img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }
.video-gallery .video-right-widget .video-right-item {
  margin-bottom: 12px; }
  .video-gallery .video-right-widget .video-right-item:last-child {
    margin-bottom: 0; }
    .video-gallery .video-right-widget .video-right-item:last-child a img {
      border-bottom-right-radius: 5px; }
  .video-gallery .video-right-widget .video-right-item:first-child a img {
    border-top-right-radius: 5px; }

.input-wrapper {
  position: relative;
  line-height: 14px;
  margin-bottom: 20px; }

.input-wrapper .password-show {
  position: absolute;
  right: 10px;
  top: 20px; }

.input-wrapper .password-show img {
  width: 20px; }

.input-wrapper label {
  color: #8a8989;
  font-size: 16px;
  position: absolute;
  z-index: 2;
  left: 15px;
  top: 25px;
  padding: 0 2px;
  pointer-events: none;
  background: #fff;
  -webkit-transition: -webkit-transform 100ms ease;
  -moz-transition: -moz-transform 100ms ease;
  -o-transition: -o-transform 100ms ease;
  -ms-transition: -ms-transform 100ms ease;
  transition: transform 100ms ease;
  -webkit-transform: translateY(-17px);
  -moz-transform: translateY(-17px);
  -o-transform: translateY(-17px);
  -ms-transform: translateY(-17px);
  transform: translateY(-17px); }

.input-wrapper input {
  font-size: 20px;
  color: #383838;
  outline: none;
  border: 1px solid #bbbbbb;
  padding: 30px 15px 10px 15px;
  border-radius: 8px;
  position: relative;
  width: 100%; }

.input-wrapper input:invalid + label {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.input-wrapper input:focus {
  border-color: #bbbbbb; }

.input-wrapper input:focus + label {
  color: #8a8989;
  -webkit-transform: translateY(-17px);
  -moz-transform: translateY(-17px);
  -o-transform: translateY(-17px);
  -ms-transform: translateY(-17px);
  transform: translateY(-17px); }

.btn-linkedIn {
  color: #3b5998;
  border-color: #3b5998; }

.btn-google {
  color: #e34929;
  border-color: #e34929; }

.btn-linkedIn, .btn-google, .login-btn {
  font-size: 16px;
  vertical-align: middle;
  background: #fff;
  max-width: 220px;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 0; }

.btn-linkedIn img, .btn-google img {
  width: 30px;
  margin-right: 10px; }

.inline-listing {
  padding: 0;
  list-style: none; }
  .inline-listing li {
    display: inline-block;
    margin: 0 5px; }
    .inline-listing li a {
      cursor: pointer; }

.blog-social-list li a {
  color: #04040499; }

.container-pagination {
  border: 1px solid #FFCC53;
  padding: 10px 10px;
  border-radius: 5px;
  max-width: 869px;
  width: 100%;
  margin: 15px auto 15px auto;
  counter-reset: pagination;
  text-align: center; }
  .container-pagination:after {
    clear: both;
    content: "";
    display: table; }
  .container-pagination ul {
    width: 100%;
    margin-bottom: 0; }
  .container-pagination ul, .container-pagination li {
    list-style: none;
    font-size: 22px;
    display: inline;
    padding-left: 0px; }
  .container-pagination li {
    counter-increment: pagination; }
    .container-pagination li:hover a {
      color: #fff;
      background-color: #37424A;
      border-radius: 100%; }
    .container-pagination li.active a {
      color: #fff;
      background-color: #37424A;
      border-radius: 100%; }
    .container-pagination li:first-child {
      float: left; }
      .container-pagination li:first-child a {
        border-radius: 10px; }
        .container-pagination li:first-child a:after {
          content: "< First"; }
    .container-pagination li:nth-child(2) {
      counter-reset: pagination; }
    .container-pagination li:last-child {
      float: right; }
      .container-pagination li:last-child a {
        border-radius: 10px; }
        .container-pagination li:last-child a:after {
          content: "Last >"; }
    .container-pagination li a {
      color: #FFCC53;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      padding: 2px 13px; }
    .container-pagination li a:after {
      content: " " counter(pagination) " "; }

.large li a {
  display: none; }
.large li:first-child a {
  display: inline-block; }
.large li:first-child a:after {
  content: "< First"; }
.large li:nth-child(2) a {
  display: inline-block; }
.large li:nth-child(3) a {
  display: inline-block; }
.large li:nth-child(4) a {
  display: inline-block; }
.large li:nth-child(5) a {
  display: inline-block; }
.large li:nth-child(6) a {
  display: inline-block; }
.large li:nth-child(7) a {
  display: inline-block; }
.large li:nth-child(8) a {
  display: inline-block; }
.large li:last-child a {
  display: inline-block; }
.large li:last-child a:after {
  content: "Last >"; }
.large li:nth-last-child(2) a {
  display: inline-block; }
.large li:nth-last-child(3) {
  display: inline-block; }
  .large li:nth-last-child(3):after {
    content: "...";
    color: #FFCC53; }

.pagination_section {
  text-align: center;
  border: 1px solid #FFCC53;
  padding: 10px 10px;
  border-radius: 5px;
  max-width: 869px;
  width: 100%;
  margin: 15px auto 15px auto; }

/* pagination styling */
.pagination_section a {
  padding: 3px 12px;
  text-decoration: none;
  font-size: 22px;
  color: #FFCC53; }

/* pagination hover effect on non-active */
.pagination_section a:hover:not(.active) {
  background-color: #37424A;
  color: #fff;
  border-radius: 100%; }

/* pagination hover effect on active*/
a:nth-child(5) {
  background-color: #37424A;
  color: #fff;
  border-radius: 100%; }

.pagination_section a:first-child {
  float: left;
  margin-top: -5px;
  border-radius: 10px !important; }

.pagination_section a:last-child {
  float: right;
  margin-top: -5px;
  border-radius: 10px !important; }

@media (max-width: 767px) {
  .bottom-nav ul {
    margin: 0;
    padding-left: 20px; }

  .breadcrumb {
    background: #fff; }
    .breadcrumb .breadcrumb-item {
      font-size: 16px; }

  .pagination_section a {
    font-size: 15px;
    padding: 3px 9px; }

  .container-pagination li a {
    padding: 2px 9px; }

  .container-pagination ul, .container-pagination li {
    font-size: 15px; } }

/*# sourceMappingURL=style.css.map */
