@font-face {
  font-family: "ArialRounded";
  src: url(../font/arlrdbd.ttf); }
/*remove bootstrap default svg background */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #fff; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #37424A;
  border-radius: 20px; }

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: #37424A; }

.navbar-light .navbar-toggler {
  background: none; }

/* hamburger classes and animation */
.navbar-toggler {
  cursor: pointer;
  position: relative;
  width: 2.5rem;
  height: 2rem;
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1rem;
  border-radius: .25rem; }
  .navbar-toggler:focus {
    border: none; }
  .navbar-toggler span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #55595c;
    border-radius: 3px;
    opacity: 1;
    left: 25%;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
    .navbar-toggler span:nth-child(1) {
      top: 34.5%; }
    .navbar-toggler span:nth-child(2), .navbar-toggler span:nth-child(3) {
      top: 50%; }
    .navbar-toggler span:nth-child(4) {
      top: 65.5%; }
  .navbar-toggler.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  .navbar-toggler.open span:nth-child(2) {
    transform: rotate(45deg); }
  .navbar-toggler.open span:nth-child(3) {
    transform: rotate(-45deg); }
  .navbar-toggler.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }

/* hamburger classes and animation */
.btn {
  border-radius: 8px;
  font-family: ArialRounded, serif;
  letter-spacing: 0; }

button:focus {
  outline: none !important; }

.btn:hover {
  opacity: 0.8;
  transition: ease-in-out 1s; }

.btn-secondary {
  display: inline-block;
  padding: 6px 15px;
  color: #fff !important;
  font-size: 1rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .btn-secondary:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFCC53;
    z-index: -2; }
  .btn-secondary:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ffb507;
    transition: all .3s;
    z-index: -1; }
  .btn-secondary:hover {
    color: #fff; }
    .btn-secondary:hover:before {
      width: 100%; }

.btn-secondary {
  color: #fff;
  background-color: #FFCC53;
  border-color: #FFCC53; }

.btn-secondary:hover {
  color: #fff;
  background-color: #FFCC53;
  border-color: #FFCC53; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #FFCC53;
  border-color: #FFCC53; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #FFCC53;
  border-color: #FFCC53; }

.form-group .form-control {
  border-radius: 8px;
  color: #000000; }

/*# sourceMappingURL=style.css.map */
