@font-face {
  font-family: "ArialRounded";
  src: url(../font/arlrdbd.ttf); }
body, p, h1, h2, h3, h4, label {
  margin: 0;
  padding: 0; }

a {
  color: #FFCC53; }
  a:hover {
    color: #FFCC53;
    cursor: pointer;
    text-decoration: none; }

.container-nav {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

.navbar {
  padding: 15px 15px;
  background: #fff;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  z-index: 9; }

.navbar-light .navbar-toggler {
  border: 0;
  position: relative;
  padding: 0; }

.navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  max-width: 125px;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 0; }
  .navbar-brand img {
    max-width: 125px;
    width: 100%; }

.navbar-nav {
  position: relative; }

.navbar-light .navbar-nav .nav-link {
  color: #2C50B4;
  font-family: ArialRounded, serif;
  font-size: 16px;
  font-weight: 500; }
  .navbar-light .navbar-nav .nav-link.login-btn {
    color: #000; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #2C50B4; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #2C50B4; }

.mega-dropdown {
  padding: 15px 15px 35px;
  border: 0; }
  .mega-dropdown a {
    border-bottom: 2px solid #FFCC53;
    opacity: 0.8;
    min-width: 200px;
    width: 100%;
    background-image: url("../images/arrow-right.png");
    background-repeat: no-repeat;
    background-position: 100% 15px;
    background-size: 14px;
    padding: 10px 0;
    margin-bottom: 10px; }

.banner {
  height: 650px;
  position: relative;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 72px; }
  .banner .banner-content {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
    padding: 0 15px;
    max-width: 645px;
    width: 100%; }
    .banner .banner-content h2 {
      font-family: ArialRounded, serif;
      font-weight: bold;
      font-size: 36px;
      letter-spacing: 0;
      color: #FFFFFF; }
    .banner .banner-content p {
      font-size: 24px;
      font-family: Arial, serif;
      letter-spacing: 0;
      font-weight: 400;
      color: #FFFFFF;
      margin-bottom: 56px; }

.has-search {
  position: relative;
  max-width: 458px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px; }
  .has-search .form-control-feedback {
    position: absolute;
    left: 10px;
    top: 22px;
    font-weight: bold;
    color: #040404; }
  .has-search .form-control {
    border-radius: 8px;
    border: 0;
    padding-left: 40px;
    height: 65px;
    font-size: 20px;
    color: #040404;
    font-family: ArialRounded, serif; }

.page-section .section-head {
  margin-bottom: 56px; }
  .page-section .section-head .section-title {
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: bold;
    font-family: ArialRounded, serif;
    letter-spacing: 0;
    color: #2C50B4; }
  .page-section .section-head .section-description {
    font-size: 22px;
    font-family: Arial, serif;
    letter-spacing: 0;
    color: #040404; }
.page-section .section-content {
  margin-bottom: 56px; }
.page-section .section-footer {
  margin-bottom: 56px;
  padding-bottom: 72px; }
  .page-section .section-footer.border-b {
    border-bottom: 1px solid rgba(112, 112, 112, 0.2); }

.icon-heading {
  margin-bottom: 15px; }
  .icon-heading h3 {
    margin-bottom: 18px;
    font-size: 22px;
    font-family: Arial, serif;
    letter-spacing: 0px;
    color: #040404; }
    .icon-heading h3 img {
      width: 33px;
      margin-right: 15px; }

.readmore {
  position: relative;
  max-height: 100px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 20px;
  transition: max-height 0.15s ease-out; }

.readmore.expand {
  max-height: 5000px !important;
  transition: max-height 0.35s ease-in-out; }

.readmore-link {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 60px;
  color: #FFCC53;
  font-weight: bold;
  font-size: 16px;
  padding-top: 40px;
  background-image: linear-gradient(to bottom, transparent, white 70%);
  cursor: pointer; }

.readmore-link.expand {
  position: relative;
  background-image: none;
  padding-top: 10px;
  height: 20px; }

.readmore-link:after {
  content: "+ more"; }

.readmore-link.expand:after {
  content: "- less"; }

.trip-highlight-card {
  border-radius: 10px; }
  .trip-highlight-card .card-head {
    margin-bottom: 15px; }
    .trip-highlight-card .card-head img {
      max-width: 425px;
      width: 100%; }
  .trip-highlight-card .card-content h3 {
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, serif;
    letter-spacing: 0;
    color: #040404;
    margin-bottom: 18px; }
  .trip-highlight-card .card-content p {
    font-size: 17px;
    font-weight: 400;
    font-family: Arial, serif;
    letter-spacing: 0;
    color: #040404;
    margin-bottom: 18px; }

.equal-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }

.equal-height > [class*='col-'] {
  display: flex;
  flex-direction: column; }

.how-works .start-planing {
  background: url(../images/how-it-work.png) no-repeat;
  background-size: cover;
  height: 100%;
  padding: 20px 30px;
  justify-content: center;
  display: flex;
  flex-direction: column; }
  .how-works .start-planing .btn {
    width: 100%;
    max-width: 310px; }
.how-works h3 {
  font-size: 24px;
  font-weight: 500;
  font-family: "ArialRounded", serif;
  letter-spacing: 0px;
  color: #040404; }

.bg-yellow {
  background-image: url("../images/yellow-bg.png");
  background-repeat: no-repeat;
  background-size: cover; }

.services-card {
  margin-bottom: 50px;
  font-family: Arial, serif; }
  .services-card h3 {
    font-size: 22px;
    font-weight: bold; }
  .services-card h2 {
    font-size: 28px;
    font-weight: bold; }
  .services-card p {
    font-size: 22px; }

.destination-section {
  margin: 72px 0; }
  .destination-section a {
    border-bottom: 2px solid #FFCC53;
    opacity: 0.8;
    max-width: 200px;
    width: 100%;
    background-image: url("../images/arrow-right.png");
    background-repeat: no-repeat;
    background-position: 100% 15px;
    background-size: 14px;
    padding: 10px 0;
    margin-bottom: 10px; }

.contact-us img {
  max-width: 390px;
  width: 100%;
  border-radius: 8px; }
.contact-us .media-body h3 {
  font-size: 28px;
  font-family: ArialRounded, serif;
  font-weight: bold;
  letter-spacing: 0;
  color: #040404; }
.contact-us .media-body p {
  font-family: Arial, serif;
  font-size: 22px;
  letter-spacing: 0;
  color: #040404; }

.signUp-section {
  background: url("../images/signup-bg.png") no-repeat;
  background-size: cover;
  padding: 50px 0;
  text-align: center; }
  .signUp-section h3 {
    font-size: 28px;
    font-family: ArialRounded, serif;
    font-weight: bold;
    letter-spacing: 0;
    color: #FAF6F6; }
  .signUp-section p {
    font-size: 22px;
    font-family: Arial, serif;
    letter-spacing: 0;
    color: #FAF6F6;
    margin-bottom: 45px; }

.blog-card {
  border-radius: 10px;
  margin-bottom: 30px; }
  .blog-card .card-head {
    margin-bottom: 15px; }
    .blog-card .card-head img {
      width: 100%;
      border-radius: 8px; }
  .blog-card .card-content h3 {
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: Arial, serif;
    letter-spacing: 0;
    color: #040404; }
  .blog-card .card-content p {
    font-size: 17px;
    font-weight: 400;
    font-family: Arial, serif;
    letter-spacing: 0;
    color: #040404; }

.tabbable.nav-tabs {
  margin-bottom: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap; }
  .tabbable.nav-tabs .nav-item {
    padding-bottom: 20px; }
    .tabbable.nav-tabs .nav-item a.nav-link {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #FCFBFA;
      border-radius: 3px;
      color: #37424A;
      font-family: ArialRounded, serif;
      font-size: 18px;
      margin: 0 5px;
      white-space: nowrap; }
      .tabbable.nav-tabs .nav-item a.nav-link.active {
        background: #FCFBFA 0% 0% no-repeat padding-box; }

.publisher-grid .pub-name {
  margin-bottom: 0;
  font-size: 22px;
  font-family: Arial, serif;
  letter-spacing: 0px; }
  .publisher-grid .pub-name span {
    color: #FFCC53; }
.publisher-grid .pub-date {
  font-size: 18px;
  font-family: Arial, serif;
  letter-spacing: 0px;
  color: #559EA6; }

.blog-post {
  max-width: 991px;
  width: 100%;
  position: relative; }

.post-title-h2 {
  font-size: 28px;
  font-family: ArialRounded, serif;
  letter-spacing: 0px;
  color: #040404;
  margin-bottom: 35px; }

.post-text {
  font-size: 18px;
  font-family: Arial, serif;
  letter-spacing: 0px;
  color: #040404;
  margin-bottom: 15px; }

.post-img {
  max-width: 100%;
  width: 100%;
  margin: 15px auto; }

.post-internal-link {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  align-items: center;
  margin: 35px 0; }
  .post-internal-link img {
    max-width: 190px;
    width: 100%; }
  .post-internal-link .media-body h5 {
    font-size: 28px;
    font-family: ArialRounded, serif;
    letter-spacing: 0px;
    color: #2C50B4; }
  .post-internal-link .media-body p {
    font-size: 22px;
    font-family: Arial, serif;
    letter-spacing: 0px;
    color: #040404; }

.drag-content {
  position: sticky;
  margin-bottom: 120px;
  margin-top: 100px;
  top: 100px; }

.editor-card {
  max-width: 220px;
  max-height: 470px;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 25px 20px;
  overflow-x: auto; }
  .editor-card h5 {
    font-size: 22px;
    font-family: ArialRounded, serif;
    letter-spacing: 0px;
    color: #040404; }
  .editor-card .more-text {
    font-size: 18px;
    font-family: Arial, serif;
    letter-spacing: 0px;
    color: #040404;
    margin-bottom: 0; }
  .editor-card a.link {
    font-size: 18px;
    font-family: Arial, serif;
    letter-spacing: 0px;
    color: #FFCC53; }
    .editor-card a.link:hover {
      color: #FFCC53;
      cursor: pointer; }
    .editor-card a.link:active {
      color: #FFCC53; }

.tag-grid label {
  background: #F1F1F1 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 0 15px 15px 0;
  font-size: 20px;
  font-family: ArialRounded, serif;
  letter-spacing: 0;
  color: #37424A; }

.tabbable.nav-tabs.orange {
  border: none; }
  .tabbable.nav-tabs.orange .nav-item a.nav-link {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FFCC53;
    border-radius: 3px;
    color: #FFCC53;
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0 5px;
    white-space: nowrap; }
    .tabbable.nav-tabs.orange .nav-item a.nav-link.active {
      background: #FFCC53 0% 0% no-repeat padding-box;
      color: #2C50B4; }

.ex-index-card-content {
  background: url("../images/ex-index-trip.png") no-repeat;
  background-size: cover;
  min-height: 226px;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative; }
  .ex-index-card-content .card-info {
    position: absolute;
    bottom: 10px;
    left: 10px; }
    .ex-index-card-content .card-info h3 {
      margin: 0; }
      .ex-index-card-content .card-info h3 a {
        font-size: 22px;
        font-family: Arial, serif;
        font-weight: bold;
        letter-spacing: 0;
        color: #FFFFFF;
        margin-bottom: 0; }
        .ex-index-card-content .card-info h3 a:hover {
          color: #FFFFFF; }
    .ex-index-card-content .card-info p {
      font-size: 22px;
      font-family: Arial, serif;
      letter-spacing: 0;
      color: #FFCC53;
      margin-bottom: 0; }

@media (min-width: 1025px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin: 0 45px; } }
@media (max-width: 1024px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin: 0 20px; } }
@media (min-width: 992px) {
  .navbar-expand-lg .left-nav {
    margin-left: 140px; }

  .nav-item .btn-primary {
    margin-right: 56px; } }
@media (max-width: 991px) {
  .navbar {
    padding: 13px 15px; }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin: 0 20px; } }
@media (max-width: 768px) {
  .navbar-brand {
    max-width: 71px;
    width: 100%;
    position: absolute;
    z-index: 99;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }

  .drag-content {
    display: none;
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
    top: initial; }
    .drag-content .editor-card {
      max-width: 100%; } }
@media (max-width: 767px) {
  .destination-section {
    margin: 50px 0; }

  .banner {
    margin-bottom: 50px; }

  .page-section .section-head {
    margin-bottom: 30px; }
  .page-section .section-content {
    margin-bottom: 30px; }
  .page-section .section-footer {
    margin-bottom: 30px;
    padding-bottom: 30px; }

  .page-section .section-head .section-title {
    font-size: 24px;
    margin-bottom: 15px; }

  .contact-us .media-body h3 {
    font-size: 24px;
    margin-bottom: 15px; }

  .page-section .section-head .section-description {
    font-size: 18px; }

  .trip-highlight-card .card-content h3 {
    font-size: 20px;
    margin-bottom: 15px; }

  .trip-highlight-card .card-content p {
    font-size: 15px; }

  .contact-us.media {
    flex-direction: column; }
    .contact-us.media img {
      margin-left: 15px;
      margin-bottom: 15px; }

  .post-internal-link.media {
    flex-direction: column; }
    .post-internal-link.media img {
      width: 100%;
      max-width: 425px;
      margin: 0 0 15px 0 !important;
      border-radius: 10px 10px 0 0; }
    .post-internal-link.media .media-body {
      text-align: center;
      padding-bottom: 15px; }

  .contact-us .media-body p {
    margin-bottom: 15px;
    font-size: 18px; } }

/*# sourceMappingURL=theme-style.css.map */
