@font-face {
  font-family: "ArialRounded";
  src: url(../font/arlrdbd.ttf);
}
body, p, h1, h2, h3, h4, label {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4 {
  font-family: ArialRounded, serif;
}
.mobile-bottom-bar {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999991;
  box-shadow: 0px 3px 15px #00000029;
  width: 100%;
  display: none;
}
.main-banner-img {
  max-width: 800px;
  width: 100%;
  height: 460px;
}
.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.31);
  z-index: 0;
  border-radius: 8px;
}
.box-size-img {
  max-width: 230px;
  height: 220px;
}
a {
  color: #FFCC53;
  &:hover {
    color: #FFCC53;
    cursor: pointer;
    text-decoration: none;
  }
}
.bg-dark {
  color: #37424A !important;
}
.container-nav {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.xyz-nax {
  display: flex;
}
.navbar {
  background: #fff;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  z-index: 99;
}
.navbar-light .navbar-toggler {
  border: 0;
  position: relative;
  padding: 0;
}
.navbar-dark .navbar-toggler {
  color: rgba(255,255,255,.5);
  border: none;
  span {
    background-color: #fff;
  }
}
.special-nav-btn {
  position: absolute;
  right: 15px;
  top: 12px;
}
.navbar-brand {
  color: rgba(0,0,0,.9);
   max-width: 140px;
   width: 100%;
   position: fixed;
    z-index: 99;
   top: 0;
  img {
    width: 100%
  }
}
.collapse.show {
  display: block;
  margin-top: 20px;
  transition: 1s ease-in-out;
  .navbar-nav {
    margin-top: 10px;
    transition: 1s ease-in-out;
  }
}
 .navbar-nav {
   position: relative;
   .btn {
     margin-bottom: 5px;
   }
 }
 //nav-ligth css
.navbar-light .navbar-nav .nav-link {
  color: #2C50B4;
  font-family: ArialRounded, serif;
  font-size: 16px;
  font-weight: 500;

  &.login-btn {
    color: #000;
  }
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #2C50B4;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #2C50B4;
}

//nav-dark css

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-family: ArialRounded, serif;
  font-size: 16px;
  font-weight: 500;

  &.login-btn {
    color: #000;
  }
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #fff;
}
.navbar-dark .header-price {
  p {
    color: #fff;
  }
}


.header-price {
  p {
    font-size: 12px;
    font-weight: bold;
  }
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
  box-shadow: 0px 3px 6px #00000029;
  border: none;
}
.mega-dropdown {
  padding: 15px 15px 35px;
  box-shadow: 0px 3px 6px #00000029;
  border: 0;
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    border-bottom: 2px solid #FFCC53;
    opacity: 0.8;
    background-image: url("../images/arrow-right.png");
    background-repeat: no-repeat;
    background-position: 100% 15px;
    background-size: 14px;
    padding: 10px 0;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}
.back-btn {
  font-size: 18px;
  font-weight: bold;
  color: #37424A;
  font-family: "ArialRounded", serif;
  position: absolute;
  left: -85px;
  top: 23px;
}
.without-menu-nav {
  padding: 15px 15px;
  background: #fff;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  z-index: 9999;
  .navbar-toggler {
    border: 0;
    position: relative;
    padding: 0;
  }
  .navbar-brand {
    color: rgba(0,0,0,.9);
    max-width: 83px;
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    img {
      width: 100%
    }
  }
  .left-nav {
    margin-left: 140px;
  }
}
.tab-navbar {

}

.banner {
  height: 650px;
  position: relative;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 72px;
  .banner-content {
    position: absolute;transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
    padding: 0 15px;
    max-width: 700px;
    width: 100%;
    h2 {
      font-family: ArialRounded, serif;
      font-weight: bold;
      font-size: 36px;
      letter-spacing: 0;
      color: #FFFFFF;
    }
    p {
      font-size: 24px;
      font-family: Arial, serif;
      letter-spacing: 0;
      font-weight: 400;
      color: #FFFFFF;
      margin-bottom: 56px;
    }
    input {

    }
  }
}
.form-control {
  &.with-date-picker {
    padding-left: 40px;
  }
}
.has-search {
  position: relative;
  max-width: 458px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  .form-control-feedback {
    position: absolute;
    left: 10px;
    top: 22px;
    font-weight: bold;
    color: #040404;
  }
  .form-control {
    border-radius: 8px;
    border: 0;
    padding-left: 40px;
    height: 65px;
    font-size: 20px;
    color: #040404;
    font-family: ArialRounded, serif;
  }
}

.page-section {
  .section-head {

    padding-top: 56px;
    margin-bottom: 56px;
    .section-title {
      margin-bottom: 40px;
      font-size: 28px;
      font-weight: bold;
      font-family: ArialRounded, serif;
      letter-spacing: 0;
      color: #2C50B4;
      i, a  {
        margin-left: 20px;
        color: #FFCC53;
        font-size: 22px;
        cursor: pointer;
      }
    }
    .section-description {
      font-size: 22px;
      font-family: Arial, serif;
      letter-spacing: 0;
      color: #040404;
    }
  }
  .section-content {
    margin-bottom: 56px;
  }
  .section-footer {
    padding-bottom: 72px;
    &.border-b {
      border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    }
  }
}
.icon-heading {
  margin-bottom: 15px;
  position: relative;
  h3 {
    margin-bottom: 18px;
    font-size: 22px;
    font-family: Arial, serif;
    letter-spacing: 0px;
    color: #040404;
    img {
      width: 33px;
      margin-right: 15px;
    }
  }
  &.tinny-view {
    h3 {
      font-size: 16px;
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
  }
}
.right-bottom {
  position: absolute;
  right: 20px;
  bottom: 0;
}
.readmore {
  position: relative;
  max-height: 100px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 20px;
  transition:max-height 0.15s ease-out;

}

.readmore.expand{
  max-height: 5000px !important;
  transition:max-height 0.35s ease-in-out;
}

.readmore-link{
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width:100%;
  height: 60px;
  color: #FFCC53;
  font-weight:bold;
  font-size:16px;
  padding-top:40px;
  background-image: linear-gradient(to bottom, transparent, white 70%);
  cursor: pointer;
}

.readmore-link.expand {
  position: relative;
  background-image: none;
  padding-top:10px;
  height:20px;
}

.readmore-link:after {
  content:"+ more";
}
.readmore-link.expand:after{
  content:"- less";
}
.corner-bottom-both-bevel {
  border-color: Pink transparent transparent transparent;
  border-width: 100px 100px 0 100px;
}

.map-position {
  position: fixed;
  top: 70px;
  left: 57.666667%;
  right: 0;
  z-index: 1030;
}
.map-right {
  min-height: 778px;
  .leaflet-map-pane {

  }
}
.trip-highlight-card {
  border-radius: 10px;
  .card-head {
    margin-bottom: 15px;
    position: relative;
    .map {
      position: absolute;
      bottom: 30px;
      right: 0;
      width: 168px;
      height: 168px;
      border-radius: 5px;
      z-index: 1;
      img {
        width: 168px;
        height: 168px;
        border-radius: 8px;
      }
      .map-head {
        font-size: 8px;
        text-align: center;
        padding: 2px 5px;
        z-index: 999;
        position: relative;
        background: #7e2735;
        color: #fff;
        margin: 0 15px -15px 15px;
      }
      iframe {
        border-radius: 5px;
      }
    }
    img {
      max-width: 245px;
      height: 390px;
      border-radius: 8px;
      width: 100%;
      //padding-right: 25px;
    }
  }
  .card-content {
    h3 {
      font-size: 22px;
      font-weight: bold;
      font-family: Arial, serif;
      letter-spacing: 0;
      color: #040404;
      margin-bottom: 18px;
    }
    p{
      font-size: 17px;
      font-weight: 400;
      font-family: Arial, serif;
      letter-spacing: 0;
      color: #040404;
      margin-bottom: 18px;
    }
  }
  + .media-body {
    p {
      max-height: 270px;
      min-height: 100px;
      overflow-y: auto;
    }
  }
}

.equal-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.equal-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.text-gray {
  color: #559EA6;
}
.how-works {
  margin-bottom: 15px;
  .start-planing {
    //background: url(../images/how-it-work.png) no-repeat;
    //background-size: cover;
    background: #37424A;
    height: 100%;
    padding: 20px 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .btn {
      width: 100%;
      max-width: 310px;
    }
  }
  h3 {
    font-size: 24px;
    font-weight: 500;
    font-family: "ArialRounded", serif;
    letter-spacing: 0px;
    color: #fff;
  }
  p {
    color: #fff;
  }
  .work-steps {
    h4 {
      font-size: 22px;
    }
  }
}
.border-steps {
  border-bottom: 1px solid #707070;
}
.video-grid{
  .playpause {
    background-image:url(../images/video-icon.png);
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
  }
}
.bg-yellow {
  background: transparent linear-gradient(194deg, #FFCC53 0%, #37424A 100%) 0% 0% no-repeat padding-box;
  mix-blend-mode: darken;
}
.services-card {
  margin-bottom: 50px;
  font-family: Arial, serif;
  h3 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  h2 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }
  p {
    font-size: 22px;
    color: #fff;
  }
}
.destination-section {
  margin: 72px 0;
  a {
    border-bottom: 2px solid #FFCC53;
    opacity: 0.8;
    max-width: 200px;
    width: 100%;
    background-image: url("../images/arrow-right.png");
    background-repeat: no-repeat;
    background-position: 100% 15px;
    background-size: 14px;
    padding: 10px 0;
    margin-bottom: 10px;
  }
}
.contact-us {
  img {
    max-width: 390px;
    width: 100%;
    border-radius: 8px;
  }
  .media-body {
    h3 {
      font-size: 28px;
      font-family: ArialRounded, serif;
      font-weight: bold;
      letter-spacing: 0;
      color: #040404;
    }
    p {
      font-family: Arial, serif;
      font-size: 22px;
      letter-spacing: 0;
      color: #040404;
    }
  }
}

.avatar-wrapper{
  position: relative;
  height: 200px;
  width: 200px;
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all .3s ease;
  &:hover{
    transform: scale(1.05);
    cursor: pointer;
  }
  &:hover .profile-pic{
    opacity: .5;
  }
  .profile-pic {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
    &:after{
      font-family: FontAwesome;
      content: "\f007";
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      font-size: 190px;
      background: #ecf0f1;
      color: #34495e;
      text-align: center;
    }
  }
  .upload-button {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    .fa-arrow-circle-up{
      position: absolute;
      font-size: 234px;
      top: -17px;
      left: 0;
      text-align: center;
      opacity: 0;
      transition: all .3s ease;
      color: #FFCC53;
    }
    &:hover .fa-arrow-circle-up{
      opacity: .9;
    }
  }
}

.signUp-section {
  background: url("../images/signup-bg.png") no-repeat;
  background-size: cover;
  padding: 50px 0;
  text-align: center;
   h3 {
     font-size: 28px;
     font-family: ArialRounded, serif;
     font-weight: bold;
     letter-spacing: 0;
     color: #FAF6F6;
   }
  p {
    font-size: 22px;
    font-family: Arial, serif;
    letter-spacing: 0;
    color: #FAF6F6;
    margin-bottom: 45px;
  }
}

//blog css
.blog-card {
  border-radius: 10px;
  margin-bottom: 30px;
  .card-head {
    margin-bottom: 15px;
    img {
      width: 100%;
      border-radius: 8px;
      max-width: 425px;
      height: 330px;
    }
  }
  .card-content {
    h3 {
      font-size: 22px;
      margin-bottom: 25px;
      font-weight: bold;
      font-family: Arial, serif;
      letter-spacing: 0;
      color: #040404;
    }
    p{
      font-size: 17px;
      font-weight: 400;
      font-family: Arial, serif;
      letter-spacing: 0;
      color: #040404;
    }
  }
}

.tab-light.nav-tabs {
  border: 0;
  margin-bottom: 45px;
  .nav-item {

    a.nav-link {
      color: #777777;
      font-size: 22px;
      font-family: ArialRounded, serif;
      margin-bottom: 0;
      border: 0;
      border-bottom: 1px solid #eee;
      &.active {
        border-bottom: 2px solid #001881;
        color: #001881;
        background-color: #fff;
      }
    }
  }
}

.tabbable.nav-tabs {
  margin-bottom:  20px;
  overflow-x: auto;
  overflow-y:hidden;
  flex-wrap: nowrap;
  .nav-item {
    padding-bottom: 20px;
    a.nav-link {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #FCFBFA;
      border-radius: 3px;
      color: #37424A;
      font-family: ArialRounded, serif;
      font-size: 18px;
      margin: 0 5px;
      white-space: nowrap;
      &.active {
        background: #FCFBFA 0% 0% no-repeat padding-box;
      }
    }
  }
}
.publisher-grid {
  .pub-name {
    margin-bottom: 0;
    font-size: 22px;
    font-family: Arial, serif;
    letter-spacing: 0px;
    span {
      color: #FFCC53;
    }
  }
  .pub-date {
    font-size: 18px;
    font-family: Arial, serif;
    letter-spacing: 0px;
    color: #559EA6;
  }
}
.blog-post {
  max-width: 991px;
  width: 100%;
  position: relative;
}
.post-title-h2 {
  font-size: 28px;
  font-family: ArialRounded, serif;
  letter-spacing: 0px;
  color: #040404;
  margin-bottom: 35px;
}
.post-text {
  font-size: 18px;
  font-family: Arial, serif;
  letter-spacing: 0px;
  color: #040404;
  margin-bottom: 15px;
}
.post-img {
  max-width: 100%;
  width: 100%;
  margin: 15px auto;
}
.post-internal-link {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  align-items: center;
  margin: 35px 0;
  img {
    max-width: 190px;
    width: 100%;
  }
  .media-body {
    h5 {
      font-size: 28px;
      font-family: ArialRounded, serif;
      letter-spacing: 0px;
      color: #2C50B4;
    }
    p {
      font-size: 22px;
      font-family: Arial, serif;
      letter-spacing: 0px;
      color: #040404;
    }
  }
}
.drag-content {
  position: sticky;
  margin-bottom: 120px;
  margin-top: 100px;
  top: 100px;
  box-shadow: 0px 3px 6px #00000029;
}

.date-button {
  position: relative;
  i.fa {
    position: absolute;
    left: 15px;
    top: 10px;
  }
  input[type="button"] {
    border: 1px solid #37424A;
    border-radius: 10px;
    font-size: 1rem;
    font-family: ArialRounded, serif;
    max-width: 200px;
    width: 100%;
    padding: 5px 10px;
    background-color: #fff;
    cursor: pointer;
    &:focus {
      outline: none;
    }

  }
}
.editor-card {
  max-width: 220px;
  max-height: 470px;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 25px 20px;
  overflow-x: auto;
  h5 {
    font-size: 22px;
    font-family: ArialRounded, serif;
    letter-spacing: 0px;
    color: #040404;
  }
  .more-text {
    font-size: 18px;
    font-family: Arial, serif;
    letter-spacing: 0px;
    color: #040404;
    margin-bottom: 0;
  }
  a.link {
    font-size: 18px;
    font-family: Arial, serif;
    letter-spacing: 0px;
    color: #FFCC53;
    &:hover {
      color: #FFCC53;
      cursor: pointer;
    }
    &:active {
      color: #FFCC53;
    }
  }
}
.tag-grid {
  label {
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 0 15px 15px 0;
    font-size: 20px;
    font-family: ArialRounded, serif;
    letter-spacing: 0;
    color: #37424A;
  }
}
//blog css end

//Experience Index Css Start
.tabbable.nav-tabs.orange {
  border: none;
  .nav-item {
    a.nav-link {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #FFCC53;
      border-radius: 3px;
      color: #FFCC53;
      font-family: Arial, serif;
      font-size: 18px;
      font-weight: 400;
      margin: 0 5px;
      white-space: nowrap;
      &.active {
        background: #FFCC53 0% 0% no-repeat padding-box;
        color: #2C50B4;
      }
    }
  }
}
.ex-index-card-content {
  background: url("../images/ex-index-trip.png") no-repeat;
  background-size: cover;
  min-height: 226px;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  .card-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 9;
    h3 {
      margin: 0;
      a {
        font-size: 22px;
        font-family: Arial, serif;
        font-weight: bold;
        letter-spacing: 0;
        color: #FFFFFF;
        margin-bottom: 0;
        &:hover {
          color: #FFFFFF;
        }
      }

    }
    p {
      font-size: 22px;
      font-family: Arial, serif;
      letter-spacing: 0;
      color: #FFCC53;
      margin-bottom: 0;
    }
  }
}

.single-img {
  .carousel-inner {
    .carousel-edit-btn {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    h5 {
      font-size: 22px;
      letter-spacing: 0;
      color: #fff;
      margin-bottom: 0;
    }
    p {
      font-size: 22px;
      font-family: Arial, serif;
      letter-spacing: 0;
      color: #FFCC53;
      margin-bottom: 0;
      &.single-page-price {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}

//Experience Index Css End

//Login Modal Start
.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 1px solid #dee2e6;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}
.login-modal {
  max-width: 820px;
  width: 100%;
  .modal-body {
    h3 {
      font-size: 22px;
      font-family: ArialRounded, serif;
      margin-bottom: 15px;
      + p {
        font-size: 22px;
        line-height: 26px;
      }
    }
    p {
      font-size: 18px;
    }
  }
}
//Login Modal End

.special-modal {
  .modal-header {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 30px;
    h3 {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
}

.box {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 10px 10px;
  margin-bottom: 15px;
}
.media.mini-media {
  align-items: center;
  position: relative;
  .close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -10px;
  }
  img {
    width: 75px;
    height: 60px;
    border-radius: 8px;
    margin-right: 10px;
  }
  .media-body {
    h5 {
      letter-spacing: 0px;
      color: #FFCC53;
      font-size: 16px;
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
      color: #535353;
    }
  }
}
.delete-notification {
  padding: 10px 0;
  p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .btn {
    font-size: 14px;
    font-weight: 400;
    padding: 2px 10px;
    margin-right: 5px;
  }
}

.my-trip {
  .media {
    .trip-highlight-card {
      max-width: 260px;
      width: 100%;
      margin-right: 25px;
    }
  }
  .media-body {
    h5 {
      font-size: 20px;
      font-family: ArialRounded, serif;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }
    .media-btn {
      margin-top: 30px;
    }
  }
}

//Trip flow 1 css start
.trip-flow-1 {
  position: relative;
  z-index: 1;
  .left-content {
    border: 1px solid #eee;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    padding-top: 30px;
    position: relative;
    background: #fff;
    z-index: 9999999999;
  }
}
.single-trip-card {
  margin-bottom: 30px;
  .carousel-inner {
    .carousel-item {
      img {
        min-height: 190px;
        width: 100%;
      }
    }
  }
}
//Trip flow 1 css end

.info-with-images {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding: 15px 15px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  h3 {
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-size: 14px;
  }
  p {
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-size: 14px;
  }
  .row {
    > a {
      padding: 0 7px;
      margin-bottom: 10px;
    }
  }
}


.about-us-page {
  .section-content {
    p {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
}

.footer {
  padding: 50px 0 0 0;
  .footer-widget {
    img {
      max-width: 180px;
      width: 100%;
      margin-bottom: 40px;
    }
    .footer-title {
      font-size: 22px;
      font-weight: 500;
      color: #fff;
      font-family: ArialRounded, serif;
      margin-bottom: 15px;
    }
    ul {
      li {
        margin-bottom: 10px;
        a{
          color: #fff;
          font-size: 18px;
          &:hover {
            color: #FFCC53;
          }
        }
      }
    }
    .social-footer {
      text-align: center;
      margin-top: 30px;
      a {
        margin: 0 15px;
        i {
          font-size: 35px;
        }
      }
    }
  }
  .footer-bottom {
    padding: 20px 15px;
    a {
      font-size: 18px;
    }
    p {
      color: #fff;
      font-size: 18px;
    }
  }
}
@media (min-width: 1025px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin: 0 45px;
  }
  .with-menu .left-nav {
    margin-left: 140px;
  }
}
@media (min-width: 769px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin: 0 45px;
  }
  .with-menu .left-nav {
    margin-left: 140px;
  }
}
@media (max-width: 1024px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin: 0 20px;
  }
}

@media (min-width: 992px) {
  .mega-dropdown {
    min-width: 800px;
    width: 100%;
    &.show {
      display: flex;
    }
  }
  .with-menu .left-nav {
    margin-left: 140px;
  }
  .nav-item .btn-primary {
    margin-right: 40px;
  }
}
@media (max-width: 991px) {
  .mega-dropdown {
    max-width: 800px;
    width: 100%;
    &.show {
      display: flex;
    }
  }
  .navbar {
    padding: 16px 15px;
    &.navbar-light {
      padding: 13px 15px;
    }
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    margin: 0 20px;
  }
}

@media (max-width: 768px) {
  .btn {
    font-family: ArialRounded, serif;
    letter-spacing: 0;
    padding: 8px 8px;
    font-size: 16px;
    border-radius: 6px;
  }
  .navbar-brand {
    max-width: 71px;
    width: 100%;
    position: absolute;
    z-index: 99;
    transform: translate(-50%, -0%);
    top: 0;
    left: 50%;
  }
  .back-btn {
    font-size: 14px;
    font-weight: bold;
    color: #37424A;
    font-family: "ArialRounded", serif;
    position: absolute;
    left: -60px;
    top: 23px;
  }
  .without-menu-nav .left-nav {
    margin-left: 60px;
  }
  .without-menu-nav.tab-navbar.space-left {
    .left-nav {
      margin-left: 120px;
    }
  }
  .with-menu .left-nav {
    margin-left: 0;
  }
  .without-menu-nav {
    padding: 15px 15px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    z-index: 9;
    .navbar-nav {
      position: relative;
      flex-direction: row;
      justify-content: flex-end;
    }

    .nav-right {

    }
    .navbar-toggler {
      border: 0;
      position: relative;
      padding: 0;
    }
    .navbar-brand {
      color: rgba(0,0,0,.9);
      max-width: 77px;
      width: 100%;
      position: absolute;
      z-index: 99;
      transform: translate(0);
      left: 0;
      top: 0;
      img {
        width: 100%
      }

    }
  }

  .tab-navbar .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    max-width: 77px;
    width: 100%;
    position: absolute;
    z-index: 99;
    transform: translate(0);
    left: 70px;
    top: 0;
  }
  .arrival-date {
    .form-group {
      display: inline-block;
      max-width: 200px;
      width: 100%;
    }
  }
  .drag-content {
    position: fixed;
    bottom: 0;
    z-index: 9;
    right: 0;
    left: 0;
    margin-bottom: 0;
    border-radius: 0;
    top: initial;
    .editor-card {
      box-shadow: 0px -2px 8px #00000029;
      max-width: 100%;
      border-radius: 0;
      padding: 15px 20px 0 20px;
      h5 {
        display: inline-block;
        font-size: 18px;
      }
      p, .more-text, .btn-secondary {
        display: none !important;
      }
      .btn-primary {
        float: right;
      }
    }
  }

  .row.vertical-divider > div[class^="col-"] {
    padding-bottom: 100px;
    margin-bottom: -100px;
    border-left: none;
  }
  .login-modal {
    max-width: 520px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .special-nav-btn {
    position: absolute;
    right: 15px;
    top: 16px;
  }
  .mobile-bottom-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
  }
  .main-banner-img {
    max-width: 800px;
    width: 100%;
    height: 230px;
  }
  .my-trip {
    .media {
      flex-direction: column;
      .trip-highlight-card {
        margin-right: 15px;
        .card-head {
          img {
            max-width: 160px;
            height: 250px;
          }
          .map {
            right: 90px;
            width: 135px;
            height: 135px;

            img {
              width: 135px;
              height: 135px;
            }
          }
        }
        + .media-body {
          p {
            max-height: 190px;
            min-height: 160px;
            overflow-y: auto;
          }
        }

      }
    }
    .media-body {
      h5 {
        font-size: 18px;
        margin-bottom: 15px;
      }
      .media-btn {
        position: relative;
        margin-top: 15px;
        bottom: 0;
      }
    }
  }
  .arrival-date {
    .form-group {
      display: inline-block;
      max-width: 120px;
      width: 100%;
    }
  }
  .date-button input[type="button"] {
    font-size: 0.8rem;
    padding: 8px 3px 8px 15px;
    text-align: center;
  }
  .date-button i.fa {
    position: absolute;
    left: 7px;
    top: 10px;
  }
  .destination-section {
    margin: 50px 0;
  }
  .banner {
    margin-bottom: 50px;
  }
  .page-section {
    .section-head {
      margin-bottom: 30px;
    }
    .section-content {
      margin-bottom: 30px;
    }
    .section-footer {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
  }
  .page-section .section-head .section-title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .contact-us .media-body h3 {
  font-size: 24px;
  margin-bottom: 15px;
  }
  .page-section .section-head .section-description {
    font-size: 18px;
  }
  .trip-highlight-card .card-content h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .trip-highlight-card .card-content p {
    font-size: 15px;
  }
  .trip-highlight-card .card-head img {
    max-width: 425px;
    width: 100%;
    padding-right: 25px;
    height: 250px;
  }
  .trip-highlight-card .card-head .map {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 135px;
    height: 135px;
    border-radius: 5px;
    img {
      width: 130px;
      height: 130px;
      border-radius: 8px;
    }
  }
  .contact-us.media {
    flex-direction: column;

    img {
      margin-left: 15px;
      margin-bottom: 15px;
    }
  }
  .post-internal-link.media {
    flex-direction: column;

    img {
      width: 100%;
      max-width: 425px;
      margin: 0 0 15px 0 !important;
      border-radius: 10px 10px 0 0;
    }
    .media-body {
      text-align: center;
      padding-bottom: 15px;
    }
  }
  .contact-us .media-body p {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .ex-index-card-content {
    min-height: 160px;
    .card-info {
      h3 {
        a {
          font-size: 18px;
          &:hover {
            color: #FFFFFF;
          }
        }

      }
      p {
        font-size: 18px;
      }
    }
  }
  .single-img {
    .carousel-caption {
      h5 {
        font-size: 18px;
      }
      p {
        font-size: 18px;
      }
    }
  }

}
@media (max-width: 425px) {
  .trips-owl.owl-carousel .owl-nav .owl-prev, .padding-spacing.owl-carousel .owl-nav .owl-prev {
    left: 10px;
  }
  .trips-owl.large-img.owl-carousel .owl-nav button {
    top: 40%;
  }
  .btn {
    font-family: ArialRounded, serif;
    letter-spacing: 0;
    padding: 5px 15px;
    font-size: 13px;
    border-radius: 4px;
  }
  .without-menu-nav {
    padding: 18px 15px;
  }
  .navbar-light .navbar-nav .nav-link {
    font-family: ArialRounded, serif;
    font-size: 12px;
    font-weight: 500;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-family: ArialRounded, serif;
    font-size: 12px;
    font-weight: 500;
  }
  .breadcrumb .breadcrumb-item {
    font-size: 11px;
  }
  .login-modal {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    margin: 5.75rem auto;
  }
}

@media (max-width: 424px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin: 0 10px;
    font-size: 16px;
  }
}

